@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");

* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

#headerlogo {
  width: 150px;
  margin-left: 40px;
}

.header-page {
  padding: 0.5em;
  background-color: var(--celeste);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.backgroundbuttons {
  display: flex;
  background-color: var(--fondo-Menu);
  color: white;
  width: 100%;
  align-items: center;
}

h1 {
  font-size: 26px;
  color: var(--titulos);
}

h2 {
  font-size: 22px;
  color: var(--titulos);
}

h3 {
  font-size: 18px;
  color: var(--titulos);
}

p {
  font-size: 12px;
  color: var(--textos);
}

.desplegables {
  list-style: none;
  display: flex;
  background: transparent;
  border: none;
  font-size: 14px;
  color: var(--celeste);
}

.desplegables li select {
  list-style: none;
  background: transparent;
  border: none;
  font-size: 14px;
  color: var(--celeste);
  font-weight: bold;
}

.seccion-botones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.contenedor-cajas {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  gap: 10px;
  margin-bottom: 30px;
}

.caja {
  flex-grow: 1;
  border-radius: 25px;
  border: 1px solid var(--borde-Grilla);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 500px;
  overflow: auto;
}

button {
  cursor: pointer;
}

.boton-agregar {
  background-color: var(--gris-claro);
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 20px;
  border: none;
}

.boton-agregar:hover {
  color: var(--textos);
}

.footer-content {
  display: flex;
  align-items: center;
  height: 140px;
  justify-content: space-between;
  max-width: 100%;
  background-color: var(--fondo-Footer);
  color: var(--texto-footer);
  /* No funciona, está tomando el color de p ? */
}

.footer-images {
  flex: 40%;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.footer-images img {
  max-width: 30%;
  height: 40px;
}

.footer-text {
  flex: 60%;
  max-height: 100%;
  overflow: hidden;
}

.footer-text p {
  color: var(--texto-footer);
  line-height: 25px;
}

.verde {
  background-color: var(--mensaje-usuario-verde);
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
}

.rojo {
  background-color: var(--mensaje-usuario-rojo);
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
}

.amarillo {
  background-color: var(--mensaje-usuario-amarillo);
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 20px;
}

.icon-button {
  color: white;
}